:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* цвет основного текста #212121
    вторичный цвет текста #757575
    белый цвет текста #FFFFFF
    цвет лого в шапке #000000
    акцент #2196F3
    цвет футера и  героя #2F303A
    цвет почты в футере rgba(255, 255, 255, 0.6)
    вторичеый цвет фона #F5F4FA */

/* LOGO */

.logo-first {
  color: var(--accent);
}

.logo-second {
  color: #000000;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent)
}


/* contacts */

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent);
}

/* main */

/* HERO */

.hero {
  background-color: #2f303a;
}

.hero .hero-title {
  color: #ffffff;
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* features */

.features .title {
  color: var(--title-text-color);
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-list .title {
  color: var(--title-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer .link {
  color: var(--accent);
}

.footer .logo-third {
  color: #ffffff;
}

.footer .address {
  color: #ffffff;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

/* Button */

.button {
  color: var(--title-text-color);
  background color: var(--primary-white-color)
}

.button.primary {
  background-color: var(--accent);
  color: var(--primary-white-color);
}



/* Portfolio */

.filter .button {
  color: var(--title-text-color);
  background-color: #F5F4FA;
  
}

.filter .button:hover,
.filter .button:focus {
color: var(--primary-white-color);
background-color: var(--accent);
}

.project-list .title {
  color: var(--title-text-color);
}