:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* цвет основного текста #212121
    вторичный цвет текста #757575
    белый цвет текста #FFFFFF
    цвет лого в шапке #000000
    акцент #2196F3
    цвет футера и  героя #2F303A
    цвет почты в футере rgba(255, 255, 255, 0.6)
    вторичеый цвет фона #F5F4FA */

/* LOGO */

.logo-first {
  color: var(--accent);
}

.logo-second {
  color: #000000;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

/* contacts */

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent);
}

/* main */

/* HERO */

.hero {
  background-color: #2f303a;
}

.hero .hero-title {
  color: #ffffff;
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* features */

.features .title {
  color: var(--title-text-color);
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-list .title {
  color: var(--title-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}
